<style>
    body {
        font-size: large;
    }
    h1{
        font-size: xxx-large;
    }
</style>

<h1>Average weight differs not more than 0.3 kg of total average weight</h1>

<%= render "queries", title: @title, baggages: @baggages %>
