<style>
    body {
        font-size: large;
    }
    h1{
        font-size: xxx-large;
    }
</style>

<h1>Task d</h1>

<h2>Is there a passenger with the biggest count of baggage as well as weight:
  <span style="text-decoration: underline"> <%=@answer %></span></h2>

<%= link_to "To query list", queriesList_path %>
<%= link_to "Main", root_path %>
